<a href="https://colab.research.google.com/github/20A31A0505/Technical_Training/blob/main/DAY_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#abcederian series

In [ ]:
str1='ABCDEFGH' 
str2='ate'
for i in str1 :
  print((i+str2),end=" ")

Aate Bate Cate Date Eate Fate Gate Hate

WRITE A PROGRAM TO EVALUATE LIST OF A CUBE'S TILL THE RANGE OF TEN.

In [ ]:
cubes=[]
for i in range(11):
  cubes.append(i**3)
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
cubes=[i**3 for i in range(11)]; print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

WRITE A PROGRAM TO FIND THE SUM AND MEAN OF SERIES 0 TO 10.

In [ ]:
series=[1,2,3,4,5,6,7,8,9,10]
sum=0
mean=0
for i in series :
  sum=sum+i
  i=i+1
print(sum)
mean=sum/len(series)
print(mean)

55
5.5

#predefined functions
len repitition in notin min max all any sort

In [ ]:
a=[10,30,4,89]
print(min(a))
print(max(a))
#sum

4
89

In [ ]:
ab=[0, -99, 99, 231, 94,99]
print(sorted(ab))
ab.append(10)
print(ab)
ac=ab.count(99)
print(ac)

[-99, 0, 94, 99, 99, 231]
[0, -99, 99, 231, 94, 99, 10]
2

In [ ]:
ab=[2,6,7,4,7,8,4,9,2,5,1,9]
ab.insert(3,100)
print(ab)

[2, 6, 7, 100, 4, 7, 8, 4, 9, 2, 5, 1, 9]

In [ ]:
ab=[2,6,7,4,7,8,4,9,2,5,1,9]
ab.remove(1)
print(ab)

[2, 6, 7, 4, 7, 8, 4, 9, 2, 5, 9]

#TOWER OF HANOII

In [ ]:
def TowerOfHanoi(n , s_pole, d_pole, i_pole):           
    if n == 1:
        print("Move disc 1 from pole",s_pole,"to pole",d_pole)
        return
    TowerOfHanoi(n-1, s_pole, i_pole, d_pole)
    print("Move disc",n,"from pole",s_pole,"to pole",d_pole)
    TowerOfHanoi(n-1, i_pole, d_pole, s_pole)
 
n = 4
TowerOfHanoi(n, 'A', 'C', 'B')

Move disc 1 from pole A to pole B
Move disc 2 from pole A to pole C
Move disc 1 from pole B to pole C
Move disc 3 from pole A to pole B
Move disc 1 from pole C to pole A
Move disc 2 from pole C to pole B
Move disc 1 from pole A to pole B
Move disc 4 from pole A to pole C
Move disc 1 from pole B to pole C
Move disc 2 from pole B to pole A
Move disc 1 from pole C to pole A
Move disc 3 from pole B to pole C
Move disc 1 from pole A to pole B
Move disc 2 from pole A to pole C
Move disc 1 from pole B to pole C

In [ ]:
def hanoi (n , a, b, c):
  if n>0:
    hanoi(n-1, a ,c ,b)
    if a:
      c.append(a.pop())
    hanoi(n-1, b, a, c)
a=[1,2,3,4]
b=[]
c=[]
hanoi(len(a),a,b,c)
print(a,b,c)

[] [] [1, 2, 3, 4]

In [ ]:
str=[12,55,75,38,74,37]
len(str)

6

In [ ]:
num=[1,2,3,4,5,6,7,8,9,10]
print(sum(num))

55

In [ ]:
num=[1,2,3,4,5,6,7,8,9,10]
num.reverse()
print(num)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
num=[-9,67,38,7,-23,45]
num.sort()
print(num)

[-23, -9, 7, 38, 45, 67]

In [ ]:
num=['7', 'd', 'abc', '2', 'S', 'def']
num.sort()                              #prints acc to the ASCII values
print(num)

['2', '7', 'S', 'abc', 'd', 'def']

In [ ]:
num=['p','r','o','g','r','a','m']
num[2:5]=[]                           #assigning the deleted vaues
print(num)

['p', 'r', 'a', 'm']

In [ ]:
list=[1,2,3,4]
index=0
for i in list :
  print("Index [",index," ]:",i)
  index=index+1

Index [ 0  ]: 1
Index [ 1  ]: 2
Index [ 2  ]: 3
Index [ 3  ]: 4

A WASHING MACHINE WORKS ON THE PRINCIPLE OF FUZZY SYSTEM, THW WEIGHT OF THE CLOTHES PUT INSIDE IT FOR WASHING IS UNCERTAIN BUT BASED ON THE WEIGHT

In [ ]:
n=int(input())
if n==0:
  print("Time Estimates : 0 minutes")
elif n in range(1,2000) :
   print("Time Estimates : 25 minutes")
elif n in range(2001,4000) :
  print("Time Estimates : 35 minutes")
elif n in range(4001,7000) :
  print("Time Estimates : 45 minutes")
else :
  print("invalid input")

4600
Time Estimates : 45 minutes

In [ ]:
#find the 15th and 16th term of the series 0,0,7,6,14,12,21,18,..........................................

In [ ]:
n=int(input("enter the term to be found :"))
i=n//2
if n%2==0  and i!=1:
  term=i*6
elif i==1 :
  term=0
else :
  term=i*7
print(term)

enter the term to be found :2
0