<a href="https://colab.research.google.com/github/20A31A0505/Technical_Training/blob/main/DAY_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOOPING STATEMENTS

In [ ]:
#WHILE
num=int(input("enter number : "))
#initialisation
i=0
while(i<=num) :
    print(i,end=" ")
    i=i+1

enter number : 8
0 1 2 3 4 5 6 7 8

In [ ]:
#WRITE A PROGRAM TO CALCULATE SUM OF N NUMBERS
n=int(input())
sum=0
i=0
while(i<=n):
  sum=sum+i
  i=i+1
print(sum)

7
28

WRITE A PROGRAM TO ADD ALL THE DIGITS IN A NUMBER

In [ ]:
n=int(input("Enter number :"))
sum=0
while(n>0):
  r=n%10
  sum=sum+r
  n=n//10
print(sum)

Enter number :76
13

WRITE A PROGRAM TO PRINT ALL EVEN NUMBERS UNTIL 10

In [ ]:
n=int(input("enter a number :"))
i=0
while(i<=n):
  if i%2==0:
    print(i, end="\t")
  i=i+1

enter a number :10
0	2	4	6	8	10

WRITE A PROGRAM TO PRINT THE SUM OF EVEN NUMBERS UNTIL 10

In [ ]:
n=int(input("enter a number :"))
i=0
sum=0
while(i<=n):
  if i%2==0:
    sum=sum+i
  i=i+1
print(sum)

enter a number :10
30

WRITE A PROGRAM TO CALCULATE SUM OF EVEN NUMBERS AND ODD NUMBERS IN A GIVEN RANGE SEPERATELY

In [ ]:
n=int(input("enter a number :"))
i=0
es=0
os=0
while(i<=n):
  if i%2==0 :
    es=es+i
  else :
    os=os+i
  i=i+1
print(es)
print(os)

enter a number :10
30
25

WRITE A PROGRAM TO REVERSE DIGITS OF A GIVEN NUMBER

In [ ]:
n=int(input("enter a number :"
))
rev=0
while(n>0):
  rev=n%10
  print(rev,end=" ")
  n=n//10

enter a number :794
4 9 7

WRITE A PROGRAM TO CONVERT DECIMAL NUMBER TO BINARY

In [ ]:
d=int(input("enter a number :"))
b=0
i=0
while(d>0):
  r=d%2
  b=b+r*(10**i)
  d=d//2
  i=i+1
print(b)

enter a number :4
100

WRITE A PROGRAM TO CONVERT BINARY TO DECIMAL NUMBER

In [ ]:
print("Enter the Binary Number: ")
bnum = int(input())

dnum = 0
i = 1
while bnum!=0:
    rem = bnum%10
    dnum = dnum + (rem*i)
    i = i*2
    bnum = int(bnum/10)

print("\nEquivalent Decimal Value = ", dnum)

Enter the Binary Number:
100

Equivalent Decimal Value =  4

In [ ]:
for i in range(11):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

WRITE A PROGRAM TO CALCULATE THE TOTAL OF N NATURAL NUMBERS AND FIND ITS AVERAGE , N=10

In [ ]:
n=int(input())
sum=0
i=0
for i in range(1,n+1):
  sum=sum+i
  i=i+1
  average=sum/n
print(average)

10
5.5

PROGRAM FOR MATH TABLES

In [ ]:
n=int(input("enter from 1-10 : "))
print("multiplication table of ",n)
print("---------------------")
for i in range(1,11):
  print(n, "X" ,i, "=" , n*i )

enter from 1-10 : 4
multiplication table of  4
---------------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

WRITE A PROGRAM TO CALCULATE THE FACTORIAL OF THE GIVEN NUMBER

In [ ]:
n=int(input())
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

4
24

WRITE A PROGRAM TO PRINT THE SERIES :1+1/2+1/3+1/4+..................+1/n

In [ ]:
n=int(input())
s=0.0
for i in range(1,n+1):
  a=1.0/i
  s=s+a
print(s)

6
2.4499999999999997

WRITE A PROGRAM TO PRINT THE SERIES :1/2+2/3+3/4+..............+n/n+1

In [ ]:
n=int(input())
s=0.0
for i in range(1,n+1):
  a=i/i+1
  s=s+a
print(s)

2
4.0

WRITE A PROGRAM TO FIND THE ABSOLUTE DIFFERENCE BETWEEN THE EVEN INDEX AND ODD INDEX OF A GIVEN NUMBER

In [ ]:
n=int(input("Enter a number :"))
even=0
odd=0
while(n>0):
  r=n%10
  if r%2==0:
    even=even+r
    n=n//10
  else :
    odd=odd+r
    n=n//10
print(even)
print(odd)
abs=(even-odd)
print(abs)

Enter a number :1234
6
4
2

GIVEN A MAXIMUM OF FOUR DIGIT TO THE BASE 17(10-A, 11-B, 12-C, 13-D, ............16-G) AS INPUT, OUTPUT ITS DECIMAL VALUE

In [ ]:
n=str(input())
print(int(n,17))

1
1

In [ ]:
#BREAK
abc=[1,2,3,4,5,6,7]
for i in abc :
  if i==4 :
    break
  print(i)

1
2
3

In [ ]:
abc=[1,2,3,4,5,6,7]
for i in abc :
  if i==4 :
    continue
  print(i)

1
2
3
5
6
7

In [ ]:
#pass
for letter in 'divya' :
  pass
  print("pass :",letter)

pass : d
pass : i
pass : v
pass : y
pass : a

FIND THE nTH TERM OF THE SERIES ⁉1,1,2,3,4,9,8,27,16,81,32,243,64,729,128,2187,......................... THIS SERIES IS A MIXTURE OF 2 SERIES - ALL THE ODD TERMS IN THIS SERIES FORM A GEOMETRIC SERIES .WRITE A PROGRAM TO FIND THE N TH TERM IN THE SERIES.

In [ ]:
#CALENDER PROBLEM
import calendar
y=int(int(input("enter the year :")))
m=1
cal=calendar.TextCalendar(calendar.SUNDAY)
i=1
while i<=12 :
  cal.prmonth(y,i)
  i=i+1

enter the year :2003
    January 2003
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31
   February 2003
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28
     March 2003
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31
     April 2003
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30
      May 2003
Su Mo Tu We Th Fr Sa
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31
     June 2003
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
     July 2003
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31
    August 2003
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31
   September 2003
Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30
    October 2003
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31
   November 2003
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30
   December 2003
Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31